* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #0c1317;
  --bg-navbar: #202c33;
  --color: #fff9;
  --bg-chats: #111b21;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  padding: 10px;
}

.flex-container {
  width: 100%;
  height: 100%;
  display: flex;
}



/*---  NAVBAR  ---*/





.navbar {
  height: 100%;
  width: 65px;
  min-width: 65px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-navbar);
}

.navbar__option {
  font-size: 1.2rem;
  margin-bottom: 25px;
  color: var(--color);
  display: block;
  margin-left: 3px;
}

.navbar__option:hover {
  font-size: 1.3rem;
  transition: .3s ease all;
}

.config-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.config-perfil__img {
  width: 35px;
  border-radius: 100%;
  object-fit: cover;
  cursor: pointer;
}

/*--  seudoelemento navbar__option :after  --*/

.navbar__icons {
  position: relative;
}

.fa-message:hover::after {
  content: "Chats";
  font-family: sans-serif;
  padding: 9px 14px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 300;
  color: #000;
  background-color: #fff;
  box-shadow: 0 0 10px #0005;
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 50px;
  top: -2px;
}

.fa-users:hover::after {
  content: "Comunidades";
  font-family: sans-serif;
  padding: 9px 14px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 300;
  color: #000;
  background-color: #fff;
  box-shadow: 0 0 10px #0005;
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 50px;
  top: 40px;
}

.fa-circle-notch:hover::after {
  content: "Estados";
  font-family: sans-serif;
  padding: 9px 15px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 300;
  color: #000;
  background-color: #fff;
  box-shadow: 0 0 10px #0005;
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 50px;
  top: 85px;
}


.fa-comment-dots:hover::after {
  content: "Canales";
  font-family: sans-serif;
  padding: 9px 15px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 300;
  color: #000;
  background-color: #fff;
  box-shadow: 0 0 10px #0005;
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 50px;
  top: 130px;
}


.config-perfil {
  position: relative;
}

.fa-gear:hover::after {
  content: "Configuracion";
  font-family: sans-serif;
  padding: 9px 15px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 300;
  color: #000;
  background-color: #fff;
  box-shadow: 0 0 10px #0005;
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 53px;
  top: 0px;
}




/*---  CHATS CONTAINER  ---*/




.chats__container {
  height: 100%;
  width: 30%;
  min-width: 30%;
  background-color: var(--bg-chats);
}

.container__header {
  height: 150px;
}

/*header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.header__icon {
  display: inline-block;
  margin-left: 50px;
}

.header__title {
  color: #fff;
  font-size: 1.6rem;
}

.header__option {
  font-size: 1.2rem;
  color: var(--color);
}

/*--  seudoelementos header-chats  --*/

.fa-folder-plus {
  position: relative;
}

.fa-folder-plus:hover::after {
  content: "nuevo chat";
  font-family: sans-serif;
  position: absolute;
  bottom: -30px;
  left: 10px;
  display: flex;
  width: 70px;
  height: fit-content;
  padding: 5px 2px 5px 10px;
  background-color: #1d0e0e;
  border: 1px groove #fff;
  font-size: 0.8rem;
  font-weight: 400;
}

.fa-ellipsis-vertical:hover::after {
  content: "menu";
  font-family: sans-serif;
  position: absolute;
  display: flex;
  top: 50px;
  width: 40px;
  height: fit-content;
  padding: 5px 2px 5px 10px;
  background-color: #1d0e0e;
  border: 1px groove #fff;
  font-size: 0.8rem;
  font-weight: 400;
  z-index: 5;
}

/*search*/
.search {
  display: flex;
  justify-content: center;
}

.search__label {
  background: var(--bg-navbar);
  margin-top: 10px;
  padding: 0 13px;
  width: 93%;
  border-radius: 8px;
}

.search__input {
  background: var(--bg-navbar);
  color: #fff;
  padding: 10px 0;
  border: none;
  outline: none;
}

.search__option {
  margin-right: 20px;
  color: var(--color);
}

/*etiquetas "todos - no leidos - grupos"*/
.labels {
  padding: 12px 15px;
}

.label {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 15px;
  margin: 2px;
  background-color: var(--bg-navbar);
  color: var(--color);
  font-size: 1rem;
  font-weight: 300;
  color: rgb(153, 153, 153);
  margin-right: 10px;
}

.label__active {
  color: #4eaf5bcf;
  background-color: #0a332c;
}


/*chat*/

.chat {
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  color: #fff;
}

/*seccion archivados*/
.chat__archive {
  display: flex;
  width: 100%;
  height: 50px;
  gap: 20px;
  padding: 10px 0 10px 20px;
  align-items: center;
}

.archive__icon {
  color: #0a332c;
  font-size: 1.5rem;
  padding: 0 5px;
}

.archive__text {
  width: 80%;
  font-size: 1.1em;
  color: white;
}

.chats {
  overflow-y: auto;
  height: 78%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fff1;
}

::-webkit-scrollbar-thumb {
  background: #494949;
}

.chat:hover {
  background: #fff1;
}

.chat__one {
  background: #fff1;
}

.chat__img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 5px 8px 5px 15px;
  object-fit: cover;
}

.chat__divisor {
  width: 80%;
  padding: 10px 0;
  border-bottom: 1px solid #ccc2;
}

.chat__description {
  display: flex;
  justify-content: space-between;
}

.chat__title {
  font-size: 1.1rem;
  font-weight: 400;
}

.chat__hour {
  font-weight: 300;
  padding: 4px 0;
  font-size: 0.7rem;
}

.chat__extract {
  padding: 5px 0;
  font-size: 0.9rem;
  color: #ccc5;
}




/*---  MENSSAGES CONTAINER  ---*/




.menssages__container {
  height: 100%;
  width: 100%;
  min-width: 60%;
}

/*menssages header*/
.menssage__header {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-navbar);
}

.menssage__info {
  display: flex;
  align-items: center;
}

.menssage__img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 5px 8px 5px 15px;
  object-fit: cover;
}

.menssage__title {
  font-size: 1.1rem;
  color: #fffb;
  padding-left: 10px;
}

.menssage__text {
  color: rgb(158, 158, 158);
  font-size: 0.8em;
  margin-top: 4px;
  padding-left: 10px;
}

.menssage__icons-info {
  margin-left: auto;
  margin-right: 25px;
}

.menssage__info-icon {
  font-size: 1.2rem;
  margin-left: 25px;
  color: var(--color);
}

.icon__video {
  color: #fff3;
}


/*main menssages*/
.main {
  height: 83%;
  background-image: url(img/chat-bg.jpg);
  background-size: contain;
  filter: grayscale(0.4);
}

/*<<<proximos messages a incluir*/



/*footer icons-input*/
.footer {
  height: 9%;
  background-color: var(--bg-navbar);
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__contain {
  display: flex;
  width: 100%;
  padding: 0 0 0 6px;
  align-items: center;
}

.footer__reaction,
.footer__icon {
  display: inline-block;
}

.footer__input-text {
  margin-right: 10px;
}

.footer__icons {
  display: flex;
}

.footer__icon {
  font-size: 1.5rem;
  color: var(--color);
  margin: 0 10px;
}

.footer__input-text {
  padding: 12px;
  width: 85%;
  background-color: #2a3942;
  font-size: 1.2rem;
  color: #fffd;
  border-radius: 10px;
  border: none;
  outline: none;
}

/*--- GRACIAS SAMITO POR TU CONTRIBUCION <3 ---*/


/*---  MEDIA QUERIES  ---*/

@media screen and (max-width: 1200px) {

  body {
    padding: 0;
  }

  .chats__container {
    min-width: 40%;
  }

  .container__header {
    width: 100%;
  }

  .menssages__container {
    min-width: 50%;
  }

  .menssage__info {
    font-size: .6rem;
  }

  .menssage__info-icon {
    font-size: .9rem;
    margin: 2px;
  }

}

@media screen and (max-width: 1000px) {

  body {
    padding: 0;
  }

  .chats__container {
    min-width: 40%;
  }

  .container__header {
    width: 100%;
  }

  .menssages__container {
    min-width: 50%;
  }

  .menssage__info {
    font-size: .6rem;
  }

  .menssage__info-icon {
    font-size: .9rem;
    margin: 2px;
  }

}

@media screen and (max-width: 768px) {

  body {
    padding: 0;
  }

  .chats__container {
    min-width: 40%;
  }

  .container__header {
    width: 100%;
  }

  .menssages__container {
    min-width: 40%;
  }

  .menssage__info {
    font-size: .6rem;
  }

  .menssage__info-icon {
    font-size: .9rem;
    margin: 2px;
  }


  /* --------------- Esto esta agregado por pipe --------------- */

  .chats__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .container__header {
    display: flex;
    flex-direction: column;
    height: 160px;
    padding-bottom: 5px;
  }

  .labels {
    display: flex;
    flex-wrap: wrap;

  }

  .header__icon {
    width: 1px;
  }

  .search__option {
    width: 1px;
  }

}


@media screen and (max-width: 600px) {

  .flex-container {
    flex-direction: column;
    height: 100vh;
  }

  .navbar {
    width: 100%;
    height: 60px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .config-perfil {
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  .chats__container {
    width: 100%;
    height: 100%;
  }

  .navbar__icons {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .navbar__icons a {
    padding: 0;
    margin: 0;
    height: fit-content;
  }

  .config-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar__option {
    font-size: 1.5rem;
    margin: 0;
  }

  .config-perfil__img {
    width: 40px;
  }

  .menssages__container {
    height: 100%;
    width: 100%;
  }

  .menssage__header {
    height: 10%;
    font-size: .7rem;
  }

  .main {
    height: 100vh;
  }

}